.mainLogo {
  width: 24em;  
}

.vertContainer {
  width: 24em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

.auth {
  background-color: rgb(212, 231, 238);
  border-radius: 1em;
}

.authHeader {
  font-size: 1.5em;
  font-weight: 900;
}

.authNotification {
  font-size: 1em;
  font-weight: 600;
  margin: 0.4em;
}

.authInput--active {
  width: 100%;
  border-radius: 0.3em;
  border-width: 1;
  border: 1px solid rgb(181, 200, 207);
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.13),0 1px 0 rgba(255,255,255,.5);
  box-shadow: inset 0 1px 3px rgba(0,0,0,.13),0 1px 0 rgba(255,255,255,.5);
  padding: 0.5em;
}

.authInput {
  width: 100%;
  border-radius: 0.3em;
  border-width: 1;
  border: 1px solid rgb(181, 200, 207);
  padding: 0.5em;
}

.inputHeader {
  width: 100%;
  text-align: left;
  font-size: 0.8em;
  margin-top: 1em;
}

.inputHeader--fail {
  color: red;
  font-weight: 900;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgb(77, 149, 201), #0072C6, rgb(77, 149, 201));
  border: 1px solid #0072C6;
  border-radius: 0.3em;
  padding: 0.4em;
  color: white;
  font-weight: bold;
  margin: 0.1em;
  max-width: 24em;
}

.button--clicked {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#0072C6, rgb(77, 149, 201));
  border: 1px solid #0072C6;
  border-radius: 0.3em;
  padding: 0.4em;
  color:white;
  font-weight: bold;
  margin: 0.1em;
  max-width: 24em;
}

.buttonsRow {
  display: flex;
  width: auto;
  margin: 0, auto;
  justify-content: center;
  align-items: space-around;
}

.formDivider {
  margin-top: 1em;
}